<div class="container-sm bg-light border col-5 p-2">
    <form>
        <fieldset>
            <legend>Informacion Basica</legend>
            <div class="mb-1 col-10">
                <label class="form-label">Nombre</label>
                <input type="text" value="{{cliente.primerNombre}}" class="form-control" disabled>
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Apellido</label>
                <br>
                <input type="text" value="{{cliente.primerApellido}}" class="form-control" disabled >
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Ciudad Residencia</label>
                <br>
                <input type="text" value="{{cliente.ciudadResidencia}}" class="form-control" disabled >
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Numero documento</label>
                <br>
                <input type="text" value="{{cliente.numDocumento}}" class="form-control" disabled >
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Telefono</label>
                <br>
                <input type="text" value="{{cliente.telefono}}" class="form-control" disabled >
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Direccion</label>
                <br>
                <input type="text" value="{{cliente.direccion}}" class="form-control" disabled >
            </div>
            <button type="button" routerLink="/ingreso" class="btn btn-info">Regresar</button>
        </fieldset>
    </form>
</div>