<div class="container-sm bg-light border col-5 p-2">
    <form>
        <fieldset>
            <legend>Informacion Basica</legend>
            <div class="mb-1 col-10">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" >
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" >
            </div>

            <button type="info"  class="btn btn-info">Regresar</button>
        </fieldset>
    </form>
</div>