<div class="container-sm bg-light border col-5 p-2">
    <form>
        <fieldset>
            <legend>Ingrese datos de cliente</legend>
            <div class="mb-1 col-10">
                <label class="form-label">Tipo Documento</label>
                <select class="form-select">
                    <option>CC</option>
                    <option>P</option>
                    <option>R</option>
                </select>
            </div>
            <div class="mb-3 col-10">
                <label class="form-label">Numero documento</label>
                <input type="text" class="form-control" placeholder="Numero documento">
            </div>
  
            <button type="submit" disabled="true" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>